﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Login.aspx.cs" Inherits="SecurityAPI.Login" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server" method="post">
        <input type="hidden" name="redirect_uri" value="http://localhost:42462/Home/Index" />
        <input type="hidden" name="grant_type" value="password" />
        <input type="hidden" name="client_id" value="sample1" />
        <input type="hidden" name="client_secret" value="sample1" />
       <asp:TextBox ID="username" runat="server"></asp:TextBox>
       <asp:TextBox ID="password" runat="server"></asp:TextBox>
       <asp:Button ID="Button1" runat="server" Text="Login" PostBackUrl="/api/Auth" />
    </form>
    <a href="OAuth.aspx">aaaa</a>   
</body>
</html>
