﻿@{
    ViewBag.Asd = "About";
    ViewBag.ccc = "ccc";
}
<form name="form1" method="post" enctype="multipart/form-data" action="http://localhost:42407/api/File/Add">
    <div>@ViewBag.aaa
        <label for="caption">Image Caption @ViewBag.aaa</label>
        <input name="caption" type="text" />
    </div>
    <div>
        <label for="image1">Image File @ViewBag.bbb</label>
        <input name="image1" type="file" />
    </div>
    <div>
        <input type="submit" value="Submit @ViewBag.ccc" />
    </div>
</form>
