﻿@{
    ViewBag.Asd = "About";
    ViewBag.ccc = "ccc";
}

@section scripts
       {
    <script>
        $(document).ready(function () {
            var counter = 1;
                $("#add_another_file").on("click", function () {
                    $("#file_list").append('<input name="image'+counter+'" type="file" />');
            });

            });
    </script>
}
<div class="btn-default glyphicon-plus" id="add_another_file"></div>
<form name="form1" method="post" enctype="multipart/form-data" action="http://localhost:42407/api/File/Add">
<div id="file_list">
    <label for="image1">Select desired file: </label>
    <input name="image1" type="file" multiple/>
</div>
<div>
    <input type="submit" value="Submit @ViewBag.ccc" />
</div>
</form>

