﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row">

    @section scripts
       {
        <script>
            // Read a page's GET URL variables and return them as an associative array.
            function getUrlVars() {
                var vars = [], hash;
                var hashes = window.location.href.slice(window.location.href.indexOf('#') + 1).split('&');
                for (var i = 0; i < hashes.length; i++) {
                    hash = hashes[i].split('=');
                    vars.push(hash[0]);
                    vars[hash[0]] = hash[1];
                }
                return vars;
            }
            $(document).ready(function () {
                accessToken = getUrlVars()["access_token"];
                if (accessToken) {
                    var expiryTime = new Date(new Date().getTime() + getUrlVars()["expires"]);
                    Cookies.set('access_token', accessToken, {
                        expires: expiryTime
                    });
                }
                $.ajax({
                    type: 'GET',
                    dataType: 'json',
                    contentType: 'application/json;charset=utf-8',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('Authorization', 'Bearer '+accessToken);
                    },
                    url: 'http://localhost:42407/api/File/',
                    success: function (data) {
                        console.log(data);
                        for (var i = 0; i < data.length; i++) {
                            $("#fileList").append(
                                '<a href="http://localhost:42407/api/File/' + data[i].Id + '">'+
                                '<div class="file col-md-3">'+
                                '<img src="http://localhost:42407/'+data[i].FilePath+'" width=300 height=300 />'+
                                '<div class="fileName">' + data[i].FileName+'</div>'+
                                '<div class="fileSize">' + data[i].Size+'</div>'+
                                '<div class="created">' + data[i].Created+'</div>'+
                                '</div ></a>'
                            );
                        }

                    }
                });
            });
        </script>
    }

    <div class="col-md-12">
        <div id="fileList">
            
        </div>
        
    </div>
</div>