﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts
       {
    <script>
        var response;
            $(document).ready(function () {
                $('#loginForm').submit(function (event) {

                    // get the form data
                    // there are many ways to get this data using jQuery (you can use the class or id also)
                    
                    var formData = {
                        'redirect_uri': $('input[name=redirect_uri]').val(),
                        'grant_type': $('input[name=grant_type]').val(),
                        'client_id': $('input[name=client_id]').val(),
                        'client_secret': $('input[name=client_secret]').val(),
                        'scope': $('input[name=scope]').val(),
                        'username': $('input[name=username]').val(),
                        'password': $('input[name=password]').val()
                    };
                    
                    $.ajax({
                        type: 'POST', 
                        url: 'http://localhost:42407/api/token', 
                        data: formData,
                        dataType: 'json', 
                        encode: true,
                        complete: function (resp) {

                            response = JSON.parse(resp.responseText);
                            if (response.error) {
                                alert("Wrong credentials");
                            } else {
                                $("#frame").attr("src", "http://localhost:42407/OAuth.aspx");
                                alert("Success");
                            }
                        }
                    });
                    event.preventDefault();
                });                
            });
    </script>
}
<h2>Login</h2>
<form id="loginForm" action="http://localhost:42407/api/token" method="post">
    <div>
        <input type="hidden" name="redirect_uri" value="http://localhost:42462/Home/Index" />
        <input type="hidden" name="grant_type" value="password" />
        <input type="hidden" name="client_id" value="clientVarni" />
        <input type="hidden" name="client_secret" value="varniSecret" />
        <input type="hidden" name="scope" value="test,test2" />
        <input id="username" name="username" />
        <input id="password" name="password" />
        <input type="submit" value="Login" />
    </div>
</form>
<iframe id="frame" src="" width="50%" height="600"></iframe>
